{% extends 'base/global/base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

<div class="hero-two">
    <div class="hero-content-two">
        <h1>Seus Produtos Cadastrados</h1>
        <p>Gerencie e visualize seus produtos cadastrados</p>
    </div>
</div>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <h1 style="margin: 20px 0px 10px 25px;">Produtos</h1>
    <div class="cards">
        {% for produto in produtos %}
        <div class="card" id="produto-{{ produto.id }}">
            {% if produto.foto %}
            <img src="{{ produto.foto.url }}" class="foto-produto" alt="{{ produto.nome_produto }}"
                preserveAspectRatio="xMidYMid slice">
            {% else %}
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>{{ produto.nome_produto }}</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="40%" y="50%" fill="#eceeef" dy=".3em">{{ produto.nome_produto }}</text>
            </svg>
            {% endif %}
            <div class="card-body position-relative">
                <h5 class="card-title">{{ produto.nome_produto }}</h5>
                <p class="card-text">{{ produto.descricao|truncatewords:10 }}</p>
                <p class="text-body-secondary">Preço: R$ {{ produto.preco }}</p>
                <p class="text-body-secondary">Estoque: {{ produto.estoque }}</p>

                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'mercado:editar_produto' produto.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>
                        <button class="btn btn-sm btn-outline-secondary" onclick="removerProduto({{ produto.id }})">Remover</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function removerProduto(produtoId) {
        if (confirm("Tem certeza de que deseja remover este produto?")) {
            $.ajax({
                url: "{% url 'mercado:remover_produto' 0 %}".replace("0", produtoId),
                type: "POST",
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    alert("Produto removido com sucesso.");
                    document.getElementById("produto-" + produtoId).remove();
                },
                error: function(xhr) {
                    alert("Erro ao remover o produto.");
                }
            });
        }
    }
</script>

{% endblock %}


